<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/fontset.css" />
    <link rel="stylesheet" href="css/photopic.css" />
    <link rel="icon" href="images/icon_main.png" type="image/x-icon" />
    <title>[类别名称]-PHOMarke</title>
    <!--[]传入分类名称-->
</head>

<body>
    <div class="header" >
        <!--防止挤占下方元素空间设置的外层div-->
        <header>
            <!-- 头部菜单 -->
            <div class="menu_area01 ">
                <ul>
                    <li>
                        <a href="index.html">
                            <img src=" images/icon_main.png " style=" width:35px; height:35px; margin-right: 5px;">
                            PHOMark
                        </a>
                    </li>
                </ul>
            </div>
            <div class=" menu_area02 ">
                <ul>
                    <li><a href="photrix.html">Photrix</a></li>
                    <li><a href="photopic.html">热门文章</a></li>
                    <li><a href="photype.html">PHO专题</a></li>
                    <li><a href="about.html">关于我们</a></li>
                </ul>
            </div>
            <div class=" menu_area03 "  id="gsn_publish">
                <ul>
                    <li><a href="search.html">
                            <img src="images/icon_search.png"
                                style=" width: 25px; height: 25px; padding-right: 20px; ">
                        </a>
                    </li>
                    <li><a href="publish.html">
                            <img src="images/icon_post.png" style="width:25px;height: 25px;padding-right: 20px;">
                    </li>
                    <li>                
                        <a href="login.html" style=" color:#d81e06;" v-if="outlogin">
                         	   登录
                        </a>

                            <a :href="'user_main.html#'+uid"  v-if="onlogin">
                            <img  :src="uhead" onerror="javascript:this.src='images/img_all.png';"
                            style="width: 40px; height: 40px ;border-radius:50%;position: absolute; top: 10px;">
                        </a>
                    </li>
                </ul>
            </div>
        </header>
    </div>

    <article>

       
        <!--Photrix页面-->
        <a href="photopic.html" class="gsn_banner" id="gsn_banner" >
            <img src="images/bg_type/bg_flyme.png">
            <div class="banner_mask">
                <div class="mask_body">
                    <h1>{{typeList[0].tname}}</h3>
                    <h2>{{typeList[0].typedesc}}</h2>
                    <span>#{{typeList[0].tname}}</span>
                </div>
            </div>
        </a>
        <div class="gsn_photrixpage" id="gsn">
            <div class="main_left">
                <h3>
                    {{tname}}    <!--这里要记得传入类别名称进来-->
                </h3>
                <div class="commend">
                    <!--v-for写在这个下面  ↓   -->
                    <div v-for="fnt in EACByType"><!-- ← 这里-->
                        <a :href="'essay.html#'+fnt.eno"><img :src="fnt.epic"></a>
                        <div id="main_content">
                            <div id="content_title">
                                <a :href="'essay.html#'+fnt.eno">{{fnt.ename}}</a>
                            </div>
                            <div id="content_bottom">
                                <!--卡片下方左侧，用户头像，用户名称，发帖时间-->
                                <div id="bottom_left">
                                    <a :href="'user_main.html#'+fnt.mno">
                                        <img :src="fnt.mpic" onerror="javascript:this.src='images/mavator.png';">
                                        
                                        <span id="picbox_name">{{fnt.nickName}}</span>
                                    </a>
                                    <span id="picbox_time">{{fnt.edate}}</span>
                                </div>
                                <!--卡片下方右侧，热度数、评论数-->
                                <div id="bottom_right">
                                    <table>
                                        <tr>
                                            <td><img src="images/icon_heat.png" border=0>{{fnt.eheat}}</td>
                                            <td><img src="images/icon_comment.png" border=0>{{fnt.commentcount}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>

            <div class="main_right">
                <div class="right_topic">
                    <h3>推荐专栏</h3>
                    <a>查看全部</a>
                </div>
                <!--推荐专栏卡片-->
                <a href="photopic.html" class="topic_card">
                    <img class="banner" src="images/bg_type/bg_ios.jpg">
                    <div class="card">
                        <h4>iOS的那些细节功能</h4>
                        <footer>
                            <span class="btn">查看专题</span>
                        </footer>
                    </div>
                </a>
                <a href="photopic.html" class="topic_card">
                    <img class="banner" src="images/bg_type/bg_flyme.png">
                    <div class="card">
                        <h4>[藏]在Flyme里的贴心小功能</h4>
                        <footer>
                            <span class="btn">查看专题</span>
                        </footer>
                    </div>
                </a>
                <a href="photopic.html" class="topic_card">
                    <img class="banner" src="images/bg_type/bg_miui.png">
                    <div class="card">
                        <h4>为什么说MIUI是国产第一定制化系统</h4>
                        <footer>
                            <span class="btn">查看专题</span>
                        </footer>
                    </div>
                </a>


            </div>
        </div>

    </article>
</body>
	<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/axios.js"></script>
    <script type="text/javascript" src="js/qs.js"></script>
    <script type="text/javascript">

  //获取文章类型id
    var hash = window.location.hash;
    var tno = hash.replace("#",'');
  //检查登录
    var app= new Vue({
    	el:'#gsn_publish',
    	data:{
    		uname:'',//用户名
    		uhead:'',//用户头像
    		uid:'',
    		onlogin:false,
    		outlogin:true
    	},
    	methods:{
    		
    	},
    	mounted:function(){
    		//页面加载完成后
    		axios.all([checkLogin()]).then(axios.spread((fn1)=>{
                if(fn1.data.code==0){
                    //用户未登录
                    localStorage.clear();
                }else{
                    //console.log(fn1.data.member);
                    this.uname=fn1.data.member.nickName;
                    this.uhead=fn1.data.member.mpic;
                    this.uid=fn1.data.member.mno;
                    this.outlogin=false;
                    this.onlogin=true;
                }
    		}));
    	}
    });



//主体
var app3= new Vue({
    el:'#gsn_banner',
    data:{
        typeList:{}
    },
    methods:{
    		
    },
    mounted:function(){
        axios.all([findByTno()]).then(axios.spread((fn1)=>{
            if(fn1.data.data.code!=1){
                this.typeList=fn1.data.data.typeList;
                console.log(fn1.data.data.typeList);
            }else{
                // this.typeList=fn1.data.data.typeList;
                // console.log(fn1.data.data.typeList);
            }
        }));
    }
});

var sho = new Vue({
    el:"#gsn",
    data:{
        EACByType:{},
        tname:''
    },
    methods:{

    },
    mounted:function(){
        axios.all([findECT()]).then(axios.spread((fn1)=>{
            this.EACByType=fn1.data.data.EACByType;
            this.tname=fn1.data.data.EACByType[1].tname;
            console.log(this.tname);
            console.log(this.EACByType);
        }));
    }
});

function findECT(){
    return axios({
        url:'/essay/findECT'+"?tno="+tno,
        method:'get'
    });
}

function findByTno(){
    return axios({
        url:'/essay/findByTno'+"?tno="+tno,
        method:'get'
    });
}


  //检查登录
    function checkLogin(){
        var token=localStorage.getItem("token");
        //console.log(token);
        return axios({
            method: 'post',
            url :   '/base/check',
            data: {"token":token}
        });
    }
    </script>
</html>