<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/fontset.css" />
    <link rel="stylesheet" href="css/photype.css" />
    <link rel="icon" href="images/icon_main.png" type="image/x-icon"/>
    <title>PHO专题</title>
</head>

<body>
    <div class="header">
        <!--防止挤占下方元素空间设置的外层div-->
        <header>
            <!-- 头部菜单 -->
            <div class="menu_area01 ">
                <ul>
                    <li>
                        <a href="index.html">
                            <img src=" images/icon_main.png " style=" width:35px; height:35px; margin-right: 5px;">
                            PHOMark
                        </a>
                    </li>
                </ul>
            </div>
            <div class=" menu_area02 ">
                #PHO专题
            </div>
            <div class=" menu_area03 " id="gsn_publish">
				<ul>
					<li><a href="search.html"><img src="  images/icon_search.png "
								style=" width: 25px; height: 25px; padding-right: 20px; "></a></li>
					<li><a href="publish.html"><img src="images/icon_post.png"
								style="width:25px;height: 25px;padding-right: 20px;"></li>
					<li>
						<a href="login.html" style=" color:#d81e06;" v-if="outlogin">
                            登录
                        </a>

                            <a :href="'user_main.html#'+uid"  v-if="onlogin">
                            <img :src="uhead" onerror="javascript:this.src='images/img_all.png';"
                            style="width: 40px; height: 40px ;border-radius:50%;position: absolute; top: 10px;">
                        </a>
				</ul>
			</div>
        </header>
    </div>
    <div id="gsn">
    <!--下方导航栏-->
    <div class="header_menu">
        <ul class="menu_ul">
            <li class="photrix"><a href="photrix.html">Photrix</a></li>
            <li class="hot"><a href="photopic.html">热门文章</a></li>
            <li class="type"><a href="photype.html">PHO专题</a></li>
            <li class="about"><a href="about.html">关于我们</a></li>
        </ul>
    </div>
    <div style="padding-left: 206.3px;">
        <div class="main_top">
            <div class="recommend_topic">
                <a href="photopic.html" class="topic_card_large">
                    <img class="banner" src="images/bg_type/bg_ios.jpg">
                    <div class="card">
                        <h4>iOS的那些细节功能</h4>
                        <footer>
                            <span>0篇文章</span>
                        </footer>
                    </div>
                </a>
                <a href="photopic.html" class="topic_card_large">
                    <img class="banner" src="images/bg_type/bg_flyme.png">
                    <div class="card">
                        <h4>[藏]在Flyme里的贴心小功能</h4>
                        <footer>
                            <span>0篇文章</span>
                        </footer>
                    </div>
                </a>
                <a href="photopic.html" class="topic_card_large">
                    <img class="banner" src="images/bg_type/bg_miui.png">
                    <div class="card">
                        <h4>为什么说MIUI是国产第一定制化系统</h4>
                        <footer>
                            <span>0篇文章</span>
                        </footer>
                    </div>
                </a>
            </div>                     
        </div>

        <!--分割线-->
        <div class="main_split">
            <h3>品牌分类</h3>
        </div> 

        <!--品牌分类-->
        <div  class="recommend_list" >
            <a v-for="site in info" :href="'photopic.html#'+site.tno" class="topic_card_small">
                <img class="banner" src="images/bg_type/bg_oppo.png">
                <div class="card" >
                    <h4>{{site.tname}}</h4>
                    <footer>
                        <span>{{site.totalNum}}篇文章</span>
                    </footer>
                </div>
            </a>
        </div>
    </div>
    </div>
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/axios.js"></script>
    <script type="text/javascript" src="js/qs.js"></script>
    <script type="text/javascript">
    var app= new Vue({
    	el:'#gsn_publish',
    	data:{
    		uname:'',//用户名
    		uhead:'',//用户头像
    		uid:'',
    		onlogin:false,
    		outlogin:true
    	},
    	methods:{
    		
    	},
    	mounted:function(){
    		//页面加载完成后
    		axios.all([checkLogin()]).then(axios.spread((fn1)=>{
                if(fn1.data.code==0){
                    //用户未登录
                    localStorage.clear();
                    alert('请先进行登录');
                    window.location.href='login.html';

                }else{
                    console.log(fn1.data.member);
                    this.uname=fn1.data.member.nickName;
                    this.uhead=fn1.data.member.mpic;
                    this.uid=fn1.data.member.mno;
                    this.outlogin=false;
                    this.onlogin=true;
                }
    		}));
    	}
    });
    
    
    var fenlei = new Vue({
    	el:"#gsn",
    	data:{
    		info:{}
    	},
    	methods:{},
    	mounted:function(){
    		axios.all([fenlei()]).then(axios.spread((fn1)=>{
    			this.info=fn1.data.site;
    			console.log(this.info);
    		}));
    	}
    });
    function fenlei(){
    	return axios.get("essaytype.action?op=typeTotal");
    }
    
    //检查登录
    function checkLogin(){
        var token=localStorage.getItem("token");
        console.log(token);
        return axios({
            method: 'post',
            url :   '/base/check',
            data: {"token":token}
        });
    }
    </script>

</body>


</html>